<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.study91.audiobook">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 安卓8.0以后版本必须添加REQUEST_INSTALL_PACKAGES，否则会安装不上 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 解决内存溢出问题：添加 android:largeHeap="true" 申请更多内存，暂时解决方案-->
    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!-- 主活动 -->
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:exported="true" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 目录活动 -->
        <activity
            android:name=".ui.CatalogActivity"
            android:launchMode="singleTask" />

        <!-- 页活动 -->
        <activity
            android:name=".ui.PageActivity"
            android:launchMode="singleTask" />

        <!-- 媒体服务 -->
        <service android:name=".media.MediaService" />
    </application>

</manifest>